.char ul {
    display: block;
    border-block: solid;
    margin-right: 20px;
    margin-top: 10px;
    max-width: auto;
    background-color: rgb(25, 0, 67);
    border-color:rgb(91, 118, 138);
    border-width: 3px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    color: skyblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.char:hover .nameplate {
    animation: budge 0.5s forwards;
}

.char:hover .attributes {
    animation: appear 0.5s forwards;
}

.attributes {
    position: absolute;
    transform: scale(0%);
    opacity: 0;
    min-width: calc(max(300px, 18vw) - 20px);
    max-width: 340px;
}

@keyframes appear {
    0% {
        opacity: 0;
        font-size: 0%;
        background-color:rgb(55, 117, 99);
    }
    100% {
        padding-top: 0%;
        border-top: none;
        border-color:aquamarine;
        opacity: 1;
        height: cover;
        font-size: 100%;
        transform: scale(100%) translateY(-15.66%);
        color:rgb(130, 197, 5);
        background-color: rgb(20, 61, 85);

    }
}

@keyframes budge {
    50% {
        background-color: aquamarine;
    }
    100% {
        border-bottom: none;
        border-color:aquamarine;
        color:rgb(130, 197, 5);
        background-color: rgb(20, 61, 85);
    }
}
