.starwarsPlanet {
  font-size: 20px;
  font-style: italic;
  color: rgb(252, 164, 24);
  white-space: nowrap;
  list-style-type: none;
  border-style: solid;
  border-width: 8px;
  border-radius: 80%;
  border-color: midnightblue;
  size-adjust: 20%;
  padding: 15px;
}

.planetSphere {
  background-image: url("alderaan_surface.png");
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  box-shadow:0 0 5vw rgb(109, 109, 109);
  animation-name: revealPlanet, rotatePlanet;
  animation-delay: 0s, 3s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: linear, linear;
}

@keyframes revealPlanet {
  from {transform: scale(0%);}
  to {transform: scale(100%);}
}

@keyframes rotatePlanet {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(180deg) scale(80%);}
  100% {transform: rotate(360deg) scale(100%);}
}

