:root {
    --imageSize: calc(10vw + 10vh);
}

@media (prefers-reduced-motion: no-preference) {
    .ShufflingImage {
      animation: FadeIn infinite 3s;
    }
}

.ShufflingImage {
    height: var(--imageSize);
    width: auto;
    align-items: center;
    justify-content: center;
    
}

@keyframes FadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}