* {
    box-sizing: border-box;
}

.nav {
    position: relative;
    width: 100%;
    background-color: rgb(30, 23, 59);
    color: rgb(0, 255, 234);
    font-style: italic;
    font-size: calc(1vh + 1vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.nav a {
    border: 5px;
    text-decoration: none;
    color: inherit;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul {
    position: relative;
    gap: 10vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap 4;
    text-align: left;
}

.nav li {
    padding: 5px;
}

.nav li.active {
    color: white;
    background-color: rgb(15, 36, 75);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.nav li:hover {
    box-shadow: 0 0 10px rgb(0, 195, 255);
    background-color: rgb(15, 36, 75);
}

.nav ul ul {
    display: block;
    border-block: solid;
    background-color: rgb(25, 0, 67);
    border-color:rgb(91, 118, 138);
    border-width: 3px;
    border-radius: 5px;
    color: skyblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;

    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0;
    padding: 0;
    margin-top: 5px;
}

.nav ul ul li {
    color: green;
    width: 100%;
    padding: 10px;
}
.nav ul ul li.active {
    color: rgb(3, 218, 57);
    background-color: rgb(44, 110, 66);
    box-shadow: 0 0 15px rgb(0, 195, 255);
}

.nav ul ul li:hover {
    box-shadow: 0 0 10px rgb(229, 255, 0);
    background-color: rgb(46, 26, 158);
}

.site-title {
    border-radius: 50%;
    background: linear-gradient(rgb(1, 15, 95), rgb(11, 61, 0));
}

.site-title:hover {
    box-shadow: 0 0 10px rgb(81, 255, 0);
    background-color: rgb(15, 36, 75);
    border-radius: 50%;
}
