.video-responsive {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  height: 70%;
  width: 70%;
  position: absolute;
}